
.site-nav .core-site-nav,
.site-nav li+li {
    border-top: 1px solid #000
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*,
:after,
:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom
}

.js-svg-swap {
    max-width: 100%;
    width: 100%
}

a {
    color: inherit;
    text-decoration: none
}

body,
html {
    height: 100%
}

.hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    overflow: hidden
}

.image-ratio.image-ratio-16-9:before,
.image-ratio.image-ratio-21-9.hero-image:before,
.image-ratio.image-ratio-21-9:before,
.image-ratio.image-ratio-4-3:before {
    content: "";
    width: 100%;
    display: block
}

@-webkit-keyframes back-and-forth {
    from,
    to {
        background-position: 0 0
    }
    50% {
        background-position: 100% 0
    }
}

@keyframes back-and-forth {
    from,
    to {
        background-position: 0 0
    }
    50% {
        background-position: 100% 0
    }
}

@-webkit-keyframes super-spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes super-spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

.image-ratio {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.image-ratio .image-caption {
    position: absolute;
    font-size: .66em;
    bottom: -20px;
    right: 0;
    color: rgba(0, 0, 0, .66)
}

.image-ratio.image-ratio-4-3:before {
    padding-top: 75%
}

.image-ratio.image-ratio-16-9:before {
    padding-top: 56.25%
}

.image-ratio.image-ratio-21-9:before {
    padding-top: 42.8571429%
}

.image-ratio.image-ratio-21-9.hero-image:before {
    padding-top: 75%
}

.columns-4-4-4:after,
.row:after {
    content: " "
}

html {
    font-size: 62.5%;
    color: #fff;
    background-color: #fff
}

body,
button,
input,
keygen,
select,
textarea {
    font: 400 14px/1.728 "Lato", "Helvetica Neue", sans-serif;
    letter-spacing: -.015em;
    -webkit-text-size-adjust: 100%
}

@media (min-width:970px) {
    body,
    button,
    input,
    keygen,
    select,
    textarea {
        font-size: 15px
    }
}

.h1,
h1 {
    font-size: 3.375em
}



@media (min-width:750px) {
    .image-ratio.image-ratio-21-9.hero-image:before {
        padding-top: 42.8571429%
    }
    .h1,
    h1 {
        font-size: 5.063em
    }
}

.h2,
h2 {
    font-size: 2em
}


@media (min-width:750px) {
    .h2,
    h2 {
        font-size: 2.986em
    }
}

.h3,
h3 {
    font-size: 1.728em
}



.h4,
h4 {
    font-size: 1.728em;
    margin-bottom: .325em
}

em {
    font-style: italic
}

strong {
    font-weight: 600
}

ol li,
ul li {
    list-style-position: inside
}

ul li {
    list-style-type: none
}

ol li {
    list-style-type: decimal
}

.content-list ul li,
.microsite-nav li, 
.microsite-nav-black li, 
.site-nav li,
.site-pre-header li {
    list-style-type: none
}

hr {
    margin: 1em 0;
    padding: 0
}

p+* {
    margin-top: 1em
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.align-center {
    text-align: center
}

.row {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.row:after {
    display: block;
    clear: both
}

.row-padding {
    padding-left: 1em;
    padding-right: 1em
}

.row+.row {
    margin-top: 2.986em
}

.site-pre-header {
    display: none;
    background-color: #292728;
    padding-top: .667em;
    padding-bottom: .667em
}

.site-pre-header>.row {
    padding-left: 2em;
    padding-right: 2em
}

.site-pre-header>.row ul {
    color: #ccc;
    font-size: .833em;
    font-weight: 400
}


.site-pre-header li {
    display: inline-block
}

.site-pre-header li a {
    transition: all .4s ease;
    display: block;
    text-decoration: none;
    line-height: 1.728
}

.site-pre-header li a:hover {
    color: #fff
}

.site-pre-header li+li {
    margin-left: .667em;
    padding-left: .667em;
    border-left: 1px solid #ccc
}

.site-header {
    color: #fff;
    background-color: #000;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-header>.row {
    padding-left: 1.33333em;
    padding-right: 1.33333em
}

.site-logo {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.site-logo img {
    width: 146px
}


.microsite-nav,
.microsite-nav li,
.microsite-nav ul,
.microsite-nav-black, 
.microsite-nav-black li,
.microsite-nav-black ul,
.mobile-logo,
.mobile-menu-logos,
.page-content {
    text-align: center
}

.partner-logo img {
    display: none
}

@media (min-width:800px) {
    .partner-logo img {
        display: block;
        float: right;
        width: 230px;
        position:absolute;
        top: 20px;
        right:0;
    }
    .mobile-menu-logos {
        display: none
    }
}



.mobile-menu-logos {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, .5)
}

@media (max-height:450px) and (max-width:800px) {
    .mobile-menu-logos {
        position: static
    }
    .site-nav {
        overflow-y: scroll
    }
}

.mobile-menu-logos img {
    display: inline;
    width: 150px;
    vertical-align: middle;
    padding-top: .833em;
    padding-bottom: .833em
}

.mobile-menu-close,
.mobile-menu-open {
    height: 20px;
    width: 25px;
    cursor: pointer
}

@media (min-width:800px) {
    .mobile-menu-logos img {
        display: none
    }
}

.mobile-menu-open {
    position: absolute;
    display: block;
    float: left;
    vertical-align: top;
    background: url("../images/quad-burger.png") center no-repeat;
    background-size: contain
}

.mobile-menu-open.open {
    display: none
}

@media (min-width:450px) {
    .mobile-menu-logos .partner-logo+.partner-logo img {
        margin-right: 0;
        margin-left: 1.728em
    }
    .mobile-menu-open {
        margin-top: 5px
    }
}

@media (min-width:800px) {
    .mobile-menu-open {
        display: none
    }
}

.mobile-menu-close {
    display: block;
    margin: 1.5em 1em 1em;
    background: url("../images/sexy-close-btn.png") center no-repeat;
    background-size: contain
}

.site-nav,
.site-nav li a:hover {
    background-color: black;
}

@media (min-width:800px) {
    .mobile-menu-close {
        display: none
    }
}

.site-nav {
    transition: left .4s ease;
    z-index: 20;
    position: fixed;
    top: 0;
    left: -75%;
    width: 75%;
    height: 100%
}

.site-nav li a {
    transition: all .4s ease;
    display: block;
    padding: .694em 1em;
    color: #dadada;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none
}

.microsite-nav li a, .microsite-nav-black li a,
.site-footer {
    font-size: .833em;
    font-weight: 400
}

.site-nav li a:hover {
    color: #71a4d5;
}

.site-nav .core-site-nav {
    border-bottom: 1px solid #000
}

.site-nav .current {
    color: #71a4d5;
}

.site-nav.open {
    left: 0
}

@media (min-width:800px) {
    .site-nav,
    .site-nav li a:hover {
        background-color: transparent
    }
    .site-nav {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        /* margin-top: 1em */
    }
    .site-nav li {
        display: inline-block
    }
    .site-nav li a {
        padding: 0;
        font-size: .833em
    }
    .site-nav li+li {
        padding-left: 1em;
        border: 0
    }
    .site-nav .core-site-nav {
        border: 0
    }
}

.microsite-nav {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(14, 68, 88, 0.6);
    overflow: hidden;
}

.microsite-nav-black {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

@media (min-width:970px) {
    .microsite-nav, .microsite-nav-black {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px
    }
}

.microsite-nav ul, .microsite-nav-black ul {
    display: block;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden
}

@media (min-width:850px) {
    .microsite-nav ul, .microsite-nav-black ul {
        display: inline-block;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        overflow: visible
    }
}

.microsite-nav li, .microsite-nav-black li {
    transition: all .4s ease;
    display: inline-block;
    color: #fff;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.microsite-nav li a, .microsite-nav-black li a {
    transition: background-color .4s ease;
    display: block;
    padding: 1.2em 1.44em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none
}

.microsite-nav li.current, .microsite-nav-black li.current {
    color: #28A7E2;
    background-color: rgba(0, 0, 0, .5)
}

.microsite-nav li:hover {
    background-color: #27507b
}

.microsite-nav li:last-child:hover {
    background-color: #64003e;
}


.microsite-nav-black l1:hover {
    background-color: rgba(0, 0, 0, .85)
}

.row.mobile-logo-row {
    margin-top: 2em
}

@media (min-width:750px) {
    .microsite-nav li a, .microsite-nav-black li a {
        padding: 1.44em 1.2em
    }
    .row.mobile-logo-row {
        display: none
    }
}

.mobile-logo img {
    display: inline-block;
    max-width: 175px;
    vertical-align: middle;
    margin: 1em
}

.site-footer {
    padding-top: 4em;
    padding-bottom: 4em;
    color: #ccc;
    background-color: #000
}

.site-footer p {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px
}







.mobile-navi {
  display:none
}